/* All styles for your Card Components live here */
.card-banner img {
    float: right;
    width: 520px;
    height: 280px;
    margin-right: 20px;
    border-radius: 10px 10px 0 0;
}

.card-content {
    clear: right;    
    margin-left: 60px;
    padding-left: 10px;
    margin-right: 20px;
    padding-right: 10px;
    border: 1px solid lightgrey;
    border-top: none;
    border-radius: 0 0 10px 10px;
    
}

.card-content h4 {
    padding-top: 10px;
}

.card-content p {
    
    font-size: 15px;
}
.card-content .react-org {
    color: grey;
    font-size: 12px;
}

