.button-container {
    display: flex;
    height: 70px;
}

.large-btn {
    width: 225px;
    height: 70px;
    border: 1px solid grey;   
}

.op-btn {
    background-color: darkred;
    color: white;
    font-size: 50px;
    border: none;
}

.number-btn {
    width: 75px;
    height: 70px;
    border: 1px solid grey;    
}

.number-btn :last-child {
    border-bottom: none;
}

 .num-btn {
    background-color: whitesmoke;
    font-size: 50px;

 }

 .clear-text {
    font-size: 50px;
    font-weight: lighter;
 }